<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Change Password</h1>
    <form action="/tushionapp/StudentChangePassword_post/" method="post">
        {% csrf_token %}
        <p>Current password</p>
        <input type="text" name="Cpass">
        <p>New password</p>
        <input type="text" name="newpass">
        <p>Confirm password</p>
        <input type="text" name="cfrmpasswd">
        <p></p>
        <input type="submit" value="confirm">
    </form>

</body>
</html>