<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Student Home</h1>

    <div>
        <a href="/tushionapp/ViewStudentProfile/">view profile</a>
    </div>
    <div>
        <a href="/tushionapp/ViewStudentNotification/">view Notification</a>
    </div>
    <div>
        <a href="/tushionapp/ViewStudentTest/">view Tests</a>
    </div>
    <div>
        <a href="/tushionapp/ViewStudentAttendence/">view Attendence</a>
    </div>
    <div>
            <a href="/tushionapp/ViewStudentResult/">view Test Result</a>
    </div>
    <div>
            <a href="/tushionapp/ViewSubject/">view Subject</a>
    </div>
    <div>
            <a href="/tushionapp/ViewStudentTimeTable/">view TimeTable</a>
    </div>
    <div>
            <a href="/tushionapp/AddStudentComplaint/">Send Complaint</a>
    </div>
    <div>
            <a href="/tushionapp/ViewStudentreply/">View Reply</a>
    </div>
    <div>
            <a href="/tushionapp/StudentFeedback/">Send teacher Feedback</a>
    </div>
    <div>
            <a href="/tushionapp/StudentChangePassword/">Change Password</a>
    </div>
    <div>
            <a href="/tushionapp/StudentLogout/">Logout </a>
    </div>


</body>
</html>