<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Student/StudentIndex.html' %}
{% block body %}
<body>

<h1>View Notification</h1>
    <form action="/tushionapp/ViewStudentNotification_post/" method="post">
        {% csrf_token %}

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                  <p>From</p>
                <input type="date" name="fromdate" class="form-control">
                <p>To</p>
                <input type="date" name="to" class="form-control">
                <br>
                <input type="submit" class="btn btn-primary">
            </div>
        </div>
    </form>

    <br>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>Date and time</th>
{#            <th>Time</th>#}
            <th>Notification</th>
            <th>Tutors name</th>
            <th>Subject</th>
            <th>Class</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.Date }}</td>
{#            <td>{{ i.Time }}</td>#}
            <td>{{ i.message }}</td>
            <td>{{ i.Tutor.name }}</td>
            <td>{{ i.mysubject.Subject.SubjectName }}</td>
            <td>{{ i.mysubject.Subject.Class.ClassName }}</td>

        </tr>
        {% endfor %}

    </table>
</body>
{% endblock %}
</html>