<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% extends 'Student/StudentIndex.html' %}
{% block body %}
<body>
<h1>View TimeTable</h1>
    <br>
    <br>
     <form action="/tushionapp/ViewStudentTimeTable_post/" method="post">
        {% csrf_token %}

        <input type="text" name="subject" placeholder="Subject" class="form-control">
         <br>
        <input type="submit" class="btn btn-primary" value="Search">
         <br>
    </form>
    <br>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>Day</th>
            <th>Hour</th>
            <th>Subject</th>

        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.day }}</td>
            <td>{{ i.hour }}</td>
            <td>{{ i.Subject.SubjectName }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}
</html>