<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Student/StudentIndex.html' %}
{% block body %}

<body>
    <h1>reply for the complaint</h1>
    <br>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>Date</th>
            <th>Complaint</th>
            <th>Reply</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.Date }}</td>
            <td>{{ i.complaint }}</td>
            <td>{{ i.replay }}</td>
        </tr>
        {% endfor %}

    </table>
</body>
{% endblock %}
</html>