<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% extends 'Student/StudentIndex.html' %}
{% block body %}
<body>
    <h1>Test Details</h1>
    <br>
     <form action="/tushionapp/ViewStudentTest_post/" method="post">
            {% csrf_token %}
         <div class="row g-3 align-items-center">
             <div class="col-auto">
                 <p>From</p>
                <input type="date" name="fromdate" class="form-control" required>
                 <br>
                <p>To</p>
                <input type="date" name="to" class="form-control" required>
                <br>
                <input type="submit" class="btn btn-primary">
             </div>
         </div>

{#        <p>From</p>#}
{#        <input type="date" name="fromdate">#}
{#        <p>To</p>#}
{#        <input type="date" name="to">#}
{#        <p></p>#}
{#        <input type="submit">#}
    </form>
    <br>
    <br>

    <table class="table table-bordered">
        <tr>
            <th>Test Name</th>
            <th>Date</th>
            <th>From-Time</th>
            <th>To-Time</th>
            <th>subject</th>
            <th>Class</th>
            <th>Tutor</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.Test_name }}</td>
            <td>{{ i.Date }}</td>
            <td>{{ i.FromTime }}</td>
            <td>{{ i.ToTime }}</td>
            <td>{{ i.Subject.SubjectName }}</td>
            <td>{{ i.Subject.Class.ClassName }}</td>
            <td>{{ i.Tutor.name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
</html>