<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Admin/AdminIndex.html' %}
{% block body %}
<body>

    <form action="/tushionapp/AddSubjects_post/#bodyname" method="post">
    {% csrf_token %}
        <h1>Add Subjects</h1>
        <br>
        <h5>Class</h5>
        <br>
        <select name="cls" class="form-control">
            {% for i in data %}
            <option value="{{ i.id }}">{{ i.ClassName }}</option>
            {% endfor %}
        </select>
        <br>
        <h5>Subjects</h5>
        <br>
        <input type="text" name="subject" class="form-control" placeholder="Subject Name " required/>
        <br>
        <button type="submit" class="btn btn-primary">add Subject</button>
    </form>
</body>
{% endblock %}
</html>