<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>Admin Home</header>

    <nav>
        <p>tutors</p>
        <a href="/tushionapp/verifyTutor/">view tutors</a>
        <a href="/tushionapp/approvedTutor/">Approved tutors</a>
        <a href="/tushionapp/rejectedTutor/">Rejected tutors</a>

        <p>Student</p>
        <a href="/tushionapp/studentVerify/">view student</a>
        <a href="/tushionapp/studentApproved/">Approved Students</a>
        <a href="/tushionapp/studentRejected/">Rejected Students</a>

        <p>Class Management</p>
        <a href="/tushionapp/AddClass/">add class</a>
        <a href="/tushionapp/ViewClass/">View class</a>


        <p>Subjects</p>
        <a href="/tushionapp/AddSubjects/">Add Subject</a>
        <a href="/tushionapp/ViewSubjects/">View Subject</a>
        <p>allocate teachers</p>
        <a href="/tushionapp/SubjectAllocate/">allocate</a>
        <a href="/tushionapp/ViewAllocateTeacher/">view allocated teachers</a>


        <p>Time Table</p>
        <a href="/tushionapp/AddTimeTable/">Add TimeTable</a>
        <a href="/tushionapp/ViewTimeTable/">View TimeTable</a>

        <p>Complaints</p>
        <a href="/tushionapp/StudentComplaint/">Complaints</a>

        <p>Feedback</p>
        <a href="/tushionapp/ViewFeedback/">Feedbacks</a>

        <a href="/tushionapp/Logout/">Logout</a>
    </nav>


</body>
</html>