<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/tushionapp/EditAllocateTeacher_post/" method="post">
    {% csrf_token %}
    <input type="hidden" name="eid" value="{{ data.id }}"/>
        <p>Subject</p>
    <select name="subject">
        {% for i in sub %}
            <option value="{{ i.id }}" {% if i.id == data.Subject_id %}selected{% endif %}>{{ i.SubjectName }}</option>        {% endfor %}
    </select>
    <p>Teacher</p>

        <select name="tutor">
            {% for i in tut %}
                <option value="{{ i.id }}" {% if i.id == data.Tutor_id %}selected{% endif %}>{{ i.name }}</option>
            {% endfor %}

        </select>

        <button type="submit">allocate</button>

    </form>


</body>
</html>