<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Admin/AdminIndex.html' %}
{% block body %}
<body>
    <h2>
        Send Complaint Reply
    </h2>
    <br>
    <br>
    <main>
       <form action="/tushionapp/ReplyStudentComplaint_post/#bodyname" method="post">
           {% csrf_token %}
           <div>
                <input type="hidden" name="id" value="{{ id }}"/>
                <input type="text" name="reply" class="form-control" required/>
               <br>
            </div>
        <div>
            <button type="submit" class="btn btn-primary">Send Reply</button>
        </div>
       </form>
    </main>


</body>
{% endblock %}
</html>