<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Admin/AdminIndex.html' %}
{% block body %}
<body>
<h1>Allocate subject to teacher</h1>
    <br>
    <br>
    <form action="/tushionapp/SubjectAllocate_post/" method="post">
    {% csrf_token %}
        <p>Subject</p>
    <select name="subject" class="form-control">
        {% for i in sub %}
            <option value="{{ i.id }}">{{ i.Class.ClassName }},{{ i.SubjectName }}</option>
        {% endfor %}
    </select>
    <br>
    <p>Teacher</p>
        <select name="tutor" class="form-control">
            {% for i in tut %}
                <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
        </select>
    <br>
        <button type="submit" class="btn btn-primary">allocate</button>

    </form>

</body>
{% endblock %}
</html>