<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Rejected Tutors</h1>

       <form action="/tushionapp/rejectedTutor_post/" method="post">
           {% csrf_token %}
            <div>
            <input type="text" name="tutorSearch" placeholder="tutor search"/>
            <button type="submit">search</button>
        </div>
       </form>

    <table border="2">

        <tr>
            <th>Sl no</th>
            <th>Photo</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Qualification</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Experience</th>
            <th>place</th>
            <th>id proof</th>
            <th>Approve</th>
        </tr>
      {% for i in data %}

        <tr>
            <td>{{ forloop.counter }}</td>
          <td><img src={{ i.photo }}></td>
            <td>{{ i.name }}</td>
            <td>{{ i.dob }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.qualification }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.experience }}</td>
            <td>{{ i.place }}</td>
            <td><img src="{{ i.id_proof }}"></td>
            <td><a href="/tushionapp/approveTutor/{{ i.Login.id }}">Approve</a></td>

        </tr>
        {% endfor %}

    </table>

</body>
</html>