<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Admin/AdminIndex.html' %}
{% block body %}
<body>
 <form action="/tushionapp/ViewTimeTable_post/#bodyname" method="post">
     {% csrf_token %}
{#    <input type="text" name="tsearch" placeholder="search day"/>#}
    <select name="tsearch" class="form-control">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thusday</option>
        <option>Friday</option>
        <option>Saturday</option>
        <option>Sunday</option>
    </select>
 <br>
    <button type="submit" class="btn btn-primary">search</button>
 <br>
 <br>
        <h3>View timetable</h3>
 <br>
         <table class="table table-bordered">
             <tr>
                 <th>sl no</th>
                 <th>Subject</th>
                 <th>day</th>
                 <th>Hour</th>
             </tr>

             {% for i in data %}
             <tr>
                 <td>{{ forloop.counter }}</td>
                 <td>{{ i.Subject.SubjectName}}</td>
                 <td>{{ i.day }}</td>
                 <td>{{ i.hour }}</td>
                 <td><a href="/tushionapp/EditTimeTable/{{ i.id }}#bodyname">Edit</a> </td>
                 <td><a href="/tushionapp/DeleteTimeTable/{{ i.id }}">Delete</a> </td>
             </tr>
             {% endfor %}
         </table>
    </form>

</body>
{% endblock %}
</html>