<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Admin/AdminIndex.html' %}
{% block body %}
<body>
<h1>Teacher Allocated View</h1>
<br>
<br>

<form action="/tushionapp/ViewAllocateTeacher_post/#bodyname" method="post">
    {% csrf_token %}
    <input type="text" name="search" class="form-control" placeholder="Search tutor" />
    <br>
    <button type="submit" class="btn btn-primary">search</button>
</form>
<br>
<br>
    <table class="table table-bordered">
        <tr>
            <th>sl no</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>Class</th>
        </tr>
        {% for i in data %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Tutor.name }}</td>
            <td>{{ i.Subject.SubjectName }}</td>
            <td>{{ i.Subject.Class.ClassName }}</td>
            <td> <a href="/tushionapp/EditAllocateTeacher/{{ i.id }}">Edit</a> </td>
            <td><a href="/tushionapp/DeleteAllocateTeacher/{{ i.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}
</html>