<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>feedback view</title>
</head>
{% extends 'Admin/AdminIndex.html' %}
{% block body %}
<body>
    <header>
        <h1>Student feedback</h1>
    </header>
    <br>
    <br>
    <div>
       <form action="/tushionapp/ViewFeedback_post/" method="post">
           {% csrf_token %}
           <p>from-date</p>
                <input type="date" name="fromdate" class="form-control" required/>
           <br>
            <p>to-date</p>
                <input type="date" name="todate" class="form-control" required/>
           <br>
           <button type="submit" class="btn btn-primary">search</button>
       </form>
    </div>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>Sl no</th>
            <th>Date</th>
            <th>class</th>
            <th>Student Name</th>
            <th>Tutor</th>
            <th>feedback</th>

        </tr>
       {% for i in data %}
           <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.Date }}</td>
               <td>{{ i.Student.Class.ClassName }}</td>
                <td>{{ i.Student.name }}</td>
                <td>{{ i.Tutor.name }}</td>
                <td>{{ i.feedback }}</td>

            </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}
</html>