<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add Attendence</h1>
    <form action="/tushionapp/AddAttendence_post/" method="post">
        {% csrf_token %}
        <p>Student</p>

      <select name="student1" value="">
        {% for i in student %}
            <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
        </select>
        <p>Class</p>
        <select name="class">
            {% for i in class %}
            <option value="{{ i.id }}">{{ i.ClassName }}</option>
            {% endfor %}
        </select>
        <p>date</p>
        <input type="date" name="date">
        <p>hour</p>
        <input type="text" name="hour">
        <p>present status</p>
        <input type="text" name="pstatus">

        <input type="submit" value="ADD">
    </form>


</body>
</html>