<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Result upload</h1>
    <form action="/tushionapp/EditTestResult_post/" method="post">
        {% csrf_token %}
    <input type="hidden" value="{{ data.id }}" name="rid">

        <p>select Test</p>
        <select name="testdetails">
            {% for i in test %}
{#            <option value="{{ i.id }} ">{{ i.Test_name }}</option>#}
                <option value="{{ i.id }}" {% if i.id == data.id %}selected{% endif %}>{{ i.Test_name }}</option>
            {% endfor %}
        </select>
        <p>select Student</p>
        <select name="student">
            {% for i in student  %}
{#            <option value="{{ i.id }}">{{ i.name }}</option>#}
                <option value="{{ i.id }}" {% if i.id == data.id %}selected{% endif %}>{{ i.name }}</option>
            {% endfor %}
        </select>
        <p>Add Mark</p>
    <input type="number" name="mark" value="{{ data.mark }}">
    <br>
    <br>
    <input type="submit" value="edit mark">
    </form>
</body>
</html>