<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <h1>edit Attendence</h1>
    <form action="/tushionapp/EditAttendence_post/" method="post">
        {% csrf_token %}
    <input type="hidden" value="{{ data.id }}" name="aid">
        <p>Student</p>

      <select name="student1">
        {% for i in student %}
            <option value="{{ i.id }}" {% if i.id == data.Student_id %}selected{% endif %} >{{ i.name }}</option>
{#            <option value="{{ i.id }}">{{ i.name }}</option>#}
        {% endfor %}
        </select>
        <p>Class</p>
        <select name="class">
            {% for i in class %}
                <option value="{{ i.id }}" {% if i.id == data.Class_id %}selected{% endif %}>{{ i.ClassName }}</option>
{#            <option value="{{ i.id }}">{{ i.className }}</option>#}
            {% endfor %}
        </select>
        <p>previous date</p>
        <p>{{ data.Date }}</p>
        <p>Edit date</p>
        <input type="date" name="date" required>
        <p>hour</p>
        <input type="text" name="hour" value="{{ data.hour }}" required>
        <p>present status</p>
        <input type="text" name="pstatus" value="{{ data.pstatus }}" required>

        <input type="submit" value="edit">
    </form>


</body>
</html>