<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>Tutor Home</header>

    <nav>
        <a href="/tushionapp/ViewProfile/">ViewProfile</a>
    </nav>
    <nav>
        <a href="/tushionapp/ViewMySubject/">ViewMysubject</a>
    </nav>
      <nav>
        <a href="/tushionapp/ViewStudent/">ViewStudent</a>
    </nav>


    <nav>
        <a href="/tushionapp/ViewTimeTabelTutor/">ViewTimeTable</a>
    </nav>
    <nav>
        <a href="/tushionapp/SendNotification/">SendNotification</a>
    </nav>
    <nav>
        <a href="/tushionapp/ViewNotification/">ViewSendNotification</a>
    </nav>



     <nav>
        <a href="/tushionapp/AddTests/">AddTestDetails</a>
    </nav>
    <nav>
        <a href="/tushionapp/AddTestResult/">AddResult</a>
    </nav>
    <nav>
        <a href="/tushionapp/ViewTestResult/">ViewResult</a>
    </nav>
    <nav>
        <a href="/tushionapp/ViewTest/">ViewTests</a>
    </nav>

    <nav>
        <a href="/tushionapp/AddAttendence/">AddAttendence</a>
        <a href="/tushionapp/ViewAttendence/">viewAttendence</a>
    </nav>
     <nav>
        <a href="/tushionapp/ChangePassword/">Change password</a>
    </nav>
    <nav>
        <a href="/tushionapp/ViewFeedbackTutor/">view feedback</a>
    </nav>

    <nav>
        <a href="/tushionapp/logout/">Logout</a>
    </nav>




</body>
</html>