<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>Tutor Home</header>

    <nav>
        <a href="/tushionapp/ViewProfile/">ViewProfile</a>
    </nav>
    <nav>
        <a href="/tushionapp/ViewMySubject/">ViewMysubject</a>
    </nav>
      <nav>
        <a href="/tushionapp/ViewStudent/">ViewStudent</a>
    </nav>
    <nav>
        <a href="/tushionapp/ViewStudent/">ViewTimeTable</a>
    </nav>

     <nav>
        <a href="/tushionapp/ViewProfile/">AddTestDetails</a>
    </nav>
    <nav>
        <a href="/tushionapp/ViewProfile/">ViewTests</a>
    </nav>

    <nav>
        <a href="/tushionapp/ViewProfile/">AddAttendence</a>
    </nav>
    <nav>
        <a href="/tushionapp/logout/">Logout</a>
    </nav>




</body>
</html>