<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Tutor/TutorIndex.html' %}
{% block body %}
<body>
    <h1>Result upload</h1>
    <br>
    <br>
    <form action="/tushionapp/AddTestResult_post/" method="post">
        {% csrf_token %}

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <p>select Test</p>
            <select name="testdetails" class="form-control">
                {% for i in test %}
                    <option value="{{ i.id }} ">{{ i.Test_name }}</option>
                {% endfor %}
             </select>
    <br>
        <p>Selected student</p>
        <select name="student" class="form-control">

            <option value="{{ student.id }}">{{ student.name }}</option>

        </select>
    <br>
          <p>Add Mark</p>
    <input type="number" name="mark" class="form-control">

        <br>
            <input type="submit" value="add mark" class="btn btn-primary">
        </div>
    </div>
    <br>
    <br>
    </form>
</body>
{% endblock %}
</html>