<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Tutor/TutorIndex.html' %}
{% block body %}
<body>

<h1>Your Profile </h1>

<br>
<br>
 <form action="/tushionapp/EditProfile_post/" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
 <input type="hidden" value="{{ data.Login_id }}" name="lid">

 <table class="table table-bordered">

         <tr>
             <td>Name</td>
             <td colspan="2"><input type="text" class="form-control" name="name" value="{{ data.name }}"/></td>
{#             <td></td>#}
         </tr>
          <tr>
             <td>gender</td>
             <td colspan="2"> <input  type="radio" name="gender" value="male" {% if data.gender == 'male' %}checked{% endif %} /> male
                <input type="radio" name="gender" value="female" {% if data.gender == 'female' %}checked{% endif %} /> female</td>
         </tr>
          <tr>
             <td>Qualification</td>
             <td colspan="2"><input type="text" class="form-control" name="qulaification" value="{{ data.qualification }}"/></td>
         </tr>
          <tr>
             <td>date-of-birth</td>
             <td colspan="2"><input type="date" class="form-control" name="dob" value="{{ data.dob | date:'Y-m-d'}}"/></td>
         </tr>
          <tr>
             <td>phone</td>
             <td colspan="2"><input type="text" class="form-control" name="phone" value="{{ data.phone }}"/></td>
         </tr>
          <tr>
             <td>experience</td>
             <td colspan="2"><input type="text" class="form-control" name="experience" value="{{ data.experience }}"/></td>
         </tr>
          <tr>
             <td>place</td>
             <td colspan="2"><input type="text" class="form-control" name="place" value="{{ data.place }}"/></td>
         </tr>
        <tr>
             <td>id_proof</td>
            <td><img src="{{ data.id_proof }}" width="150px" height="150px"></td>
             <td>
                  <input type="file" name="idproof"/>
             </td>
         </tr>
        <tr>
             <td>photo</td>
             <td><img src="{{ data.photo }}" width="150px" height="150px"></td>
             <td><input type="file" name="photo"/></td>
         </tr>
 <tr>
     <td colspan="3"><div align="center">
        <input type="submit" value="Edit Profile" class="btn btn-primary btn-lg"/>
     </div>
     <div align="center"></div>
     </td>
 </tr>

 </table>

 </form>

</body>
{% endblock %}
</html>