<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Tutor/TutorIndex.html' %}
{% block body %}
<body>
    <h1>View attendence</h1>

    <br>
    <br>



    <table class="table table-bordered">
        <tr>
            <th>Student</th>
            <th>Class</th>
            <th>Date</th>
            <th>attendence</th>
            <th>hours</th>
            <th>edit</th>
            <th>delete</th>
        </tr>

        {% for i in data %}
        <tr>
            <td>{{ i.Student.name }}</td>
            <td>{{ i.Class.ClassName }}</td>
            <td>{{ i.Date }}</td>
            <td>{{ i.pstatus }}</td>
            <td>{{ i.hour }}</td>
            <td><a href="/tushionapp/EditAttendence/{{ i.id }}">edit</a> </td>
            <td><a href="/tushionapp/deleteAttendence/{{ i.id }}">delete</a> </td>

        </tr>
        {% endfor %}

    </table>




</body>
{% endblock %}
</html>