<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Tutor/TutorIndex.html' %}
{% block body %}
<body>
 <h1>View Test</h1>
    <form action="/tushionapp/ViewTest_post/" method="post">
        {% csrf_token %}

         <div class="row g-3 align-items-center">
                 <div class="col-auto">
                    <p>search class</p>
                     <select name="cls" class="form-control">

                        {% for i in class %}
                            <option value="{{ i.Class.ClassName }}">{{ i.Class.ClassName }},{{ i.SubjectName }}</option>
                        {% endfor %}
                    </select>
                     <input type="submit" value="search" class="btn btn-primary">
                 </div>
         </div>

    </form>

    <table class="table table-bordered">
        <tr>
            <th>Class</th>
            <th>Subject</th>
            <th>Tutor</th>
            <th>Test_name</th>
            <th>Date</th>
            <th>FromTime</th>
            <th>ToTime</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for i in data %}
        <tr>
            <td>{{ i.Subject.Class.ClassName }}</td>
            <td>{{ i.Subject.SubjectName }}</td>
            <td>{{ i.Tutor.name }}</td>
            <td>{{ i.Test_name }}</td>
            <td>{{ i.Date }}</td>
            <td>{{ i.FromTime }}</td>
            <td>{{ i.ToTime }}</td>
            <td><a href="/tushionapp/EditTest/{{ i.id }}">Edit</a> </td>
            <td><a href="/tushionapp/DeleteTest/{{ i.id }}">Delete</a> </td>

        </tr>
        {% endfor %}

    </table>


</body>
{% endblock %}
</html>