<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Tutor/TutorIndex.html' %}
{% block body %}
<body>
    <h1>View send notification</h1>

    <br>
    <br>
    <form action="/tushionapp/ViewNotification_post/#bodyname" method="post">
        {% csrf_token %}

     <div class="row g-4 align-items-center">
                          <p>From</p>

         <div class="col-auto">

{#             <label for="exampleFormControlTextarea1" class="form-label">From</label>#}
            <input type="date" name="from" class="form-control" id="inputPassword6" aria-describedby="passwordHelpInline" >
         </div>
                      <p>To</p>

         <div class="col-auto">
{#                 <label for="exampleFormControlTextarea1" class="form-label">To</label>#}
            <input type="date" name="to" class="form-control" id="inputPassword6" aria-describedby="passwordHelpInline" >
         </div>
         <br>
         <br>
         <input type="submit" value="search" class="btn btn-primary" >
     </div>

    </form>
    <br>
    <br>
    <table class=" table table-bordered">
        <tr>
            <th>Notification</th>
{#            <th>Time</th>#}
            <th>Subject</th>
            <th>Class</th>
             <th>Date and Time</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.message }}</td>
{#            <td>{{ i.Time }}</td>#}
            <td>{{ i.mysubject.Subject.SubjectName }}</td>
            <td>{{ i.mysubject.Subject.Class.ClassName }}</td>
            <td>{{ i.Date }}</td>
            <td><a href="/tushionapp/EditNotification/{{ i.id }}#bodyname">Edit</a> </td>
            <td><a href="/tushionapp/DeleteNotification/{{ i.id }}">Delete</a> </td>
        </tr>
        {% endfor %}
    </table>


</body>
{% endblock %}
</html>