<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Tutor/TutorIndex.html' %}
{% block body  %}
<body>
    <h1>view results of the student </h1>
<br>
    <br>
     <form action="/tushionapp/ViewTestResult_post/" method="post">
        {% csrf_token %}
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <select name="cls" class="form-control">
            {% for i in sub %}
            <option value="{{ i.Class.ClassName }}">{{ i.Class.ClassName }}</option>
            {% endfor %}
        </select>

      </div>
    <div class="col-auto">
        <input type="text" name="sname" placeholder="student name" class="form-control">
    </div>
     <input type="submit" value="search" class="btn btn-primary">
    </div>
    </form>
    <br>
    <table class=" table table-bordered">
        <tr>
            <th>TestDetails</th>
            <th>Student</th>
            <th>Class</th>
            <th>mark</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.TestDetails.Subject.SubjectName }}</td>
            <td>{{ i.Student.name }}</td>
            <td>{{ i.Student.Class.ClassName }}</td>
            <td>{{ i.mark }}</td>
            <td><a href="/tushionapp/EditTestResult/{{ i.id }}">Edit</a> </td>
            <td><a href="/tushionapp/DeleteTestResult/{{ i.id }}">Delete</a> </td>
        </tr>
        {% endfor %}

    </table>

</body>
{% endblock %}
</html>