<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>TimeTable</h1>

    <form action="/tushionapp/ViewTimeTabel_post/" method="post">
        {% csrf_token %}
        <select name="day">
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thusday</option>
            <option>Saturday</option>
            <option>Sunday</option>
        </select>
        <input type="submit" value="search">
    </form>
    <table border="1">
        <tr>
            <th>slno</th>
            <th>subject</th>
            <th>hour</th>
            <th>day</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Subject.SubjectName }}</td>
            <td>{{ i.hour }}</td>
            <td>{{ i.day }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>