<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Tutor/TutorIndex.html' %}
{% block body %}
<body>

    <h1>TimeTable</h1>
    <br>
    <br>
    <form action="/tushionapp/ViewTimeTabel_post/#bodyname" method="post">
        {% csrf_token %}

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <select name="day" class="form-control" id="inputPassword6" aria-describedby="passwordHelpInline" >
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thusday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                </select>
             </div>
            <input type="submit" value="search" class="btn btn-primary">
        </div>

    </form>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>slno</th>
            <th>subject</th>
            <th>hour</th>
            <th>day</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Subject.SubjectName }}</td>
            <td>{{ i.hour }}</td>
            <td>{{ i.day }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}
</html>