<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Tutor/TutorIndex.html' %}
{% block body %}
<body>

    <header>
        <h1>View Students</h1>
    </header>
    <br>
    <form method="post" action="/tushionapp/ViewStudent_post/#bodyname">
        {% csrf_token %}
        <table class="pull-left">
{#            <input type="text" name="student" placeholder="student" class="form-control">#}

            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <input type="text" name="student" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" required>
                </div>
                <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                        <input type="submit" value="search" class="btn btn-primary" >
                    </span>
                </div>
            </div>

        </table>
    </form>
<br><br>
<table class="table table-bordered">
    <tr>
        <th>sl no</th>
        <th>name</th>
        <th>photo</th>
        <th>gender</th>
        <th>dob</th>
        <th>email</th>
        <th>phone</th>
        <th>place</th>
        <th>class</th>
        <th>Upload result</th>
        <th>Upload Attendence</th>
    </tr>
      {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td> <img src="{{ i.photo }}" width="150" height="100" alt=" image not found"></td>
        <td>{{ i.gender }}</td>
        <td>{{ i.dob }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.phone }}</td>
        <td>{{ i.place }}</td>
        <td>{{ i.Class.ClassName }}</td>
        <td><a href="/tushionapp/AddTestResult/{{ i.id }}#bodyname">Upload result</a></td>
        <td><a href="/tushionapp/AddAttendence/{{ i.id }}#bodyname">Upload Attendence</a></td>
    </tr>
    {% endfor %}
</table>

</body>
{% endblock %}
</html>