<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'Public/publicHome.html' %}
    {% block body %}
<body>
    <h2>View Subjects</h2>
    <br><br>
    <table class="table table-bordered">
        <tr>
            <th>Sl No</th>
            <th>Subject</th>
            <th>Class</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.SubjectName }}</td>
            <td>{{ i.Class.ClassName }}</td>
        </tr>
        {% endfor %}
    </table>




</body>
    {% endblock %}
</html>